In [30]:
#Área de instalação de libs

!pip install unidecode

Requirement already satisfied: unidecode in /opt/conda/lib/python3.10/site-packages (1.3.8)

In [31]:
# Area para importar ferramentas e arquivos

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from unidecode import unidecode

# Checando a versão do encoding do arquivo csv

with open('/kaggle/input/adajack-2024-trilha-de-dados/base_de_dados2.csv') as f: print(f) 
        
base_dados = pd.read_csv('/kaggle/input/adajack-2024-trilha-de-dados/base_de_dados2.csv', encoding='UTF-8')

base_dados

<_io.TextIOWrapper name='/kaggle/input/adajack-2024-trilha-de-dados/base_de_dados2.csv' mode='r' encoding='UTF-8'>

,id,id.1,Nome,Genero,Idade,RaÃ§a,EndereÃ§o,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\nSellersside, FL 21337",Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,"941 Martin Manor\nLake Isaiahtown, FM 43797",Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\nMejiaville, LA 17095",Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\nSmithborough, NV 0...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\nSandraport, MN 33570",Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [32]:
# Área de funções globais

#Função para limpeza de texto

def substituir_codificados(texto):
    # Forçar a codificação para UTF-8
    texto = texto.encode('utf-8').decode('utf-8')
    
    # Lista de substituições UTF-8/ANSI
    substituicoes = {
    "Ã": "Á", "Ã¡": "á", "Ã‰": "É", "Ã©": "é", "Ã": "Í", "Ã­": "í",
    "Ã“": "Ó", "Ã³": "ó", "Ãš": "Ú", "Ãº": "ú", "Ã‘": "Ñ", "Ã±": "ñ",
    "Â¿": "¿", "Â¡": "¡", "Â¢": "¢", "Â£": "£", "Â¤": "¤",
    "Â¥": "¥", "Â¦": "¦", "Â§": "§", "Â¨": "¨", "Â©": "©", "Âª": "ª",
    "Â«": "«", "Â¬": "¬", "Â­": "­", "Â®": "®", "Â¯": "¯", "Â°": "°",
    "Â±": "±", "Â²": "²", "Â³": "³", "Â´": "´", "Âµ": "µ", "Â¶": "¶",
    "Â·": "·", "Â¸": "¸", "Â¹": "¹", "Âº": "º", "Â»": "»", "Â¼": "¼",
    "Â½": "½", "Â¾": "¾", "Â¿": "¿", "Ã€": "À", "Ã‚": "Â", "Ãƒ": "Ã",
    "Ã„": "Ä", "Ã…": "Å", "Ã†": "Æ", "Ã‡": "Ç", "Ãˆ": "È", "Ã‰": "É",
    "ÃŠ": "Ê", "Ã‹": "Ë", "ÃŒ": "Ì", "Ã": "Í", "ÃŽ": "Î", "Ã": "Ï",
    "Ã": "Ð", "Ã‘": "Ñ", "Ã’": "Ò", "Ã“": "Ó", "Ã”": "Ô", "Ã•": "Õ",
    "Ã–": "Ö", "Ã—": "×", "Ã˜": "Ø", "Ã™": "Ù", "Ãš": "Ú", "Ã›": "Û",
    "Ãœ": "Ü", "Ã": "Ý", "Ãž": "Þ", "ÃŸ": "ß", "Ã¡": "á",
    "Ã¢": "â", "Ã£": "ã", "Ã¤": "ä", "Ã¥": "å", "Ã¦": "æ", "Ã§": "ç",
    "Ã¨": "è", "Ã©": "é", "Ãª": "ê", "Ã«": "ë", "Ã¬": "ì", "Ã­": "í",
    "Ã®": "î", "Ã¯": "ï", "Ã°": "ð", "Ã±": "ñ", "Ã²": "ò", "Ã³": "ó",
    "Ã´": "ô", "Ãµ": "õ", "Ã¶": "ö", "Ã·": "÷", "Ã¸": "ø", "Ã¹": "ù",
    "Ãº": "ú", "Ã»": "û", "Ã¼": "ü", "Ã½": "ý", "Ã¾": "þ", "Ã¿": "ÿ",
    "Ã": "à", "Â": "Â"   
    }
    
    # Substituir cada ocorrência de chave pela sua valor correspondente
    for chave, valor in substituicoes.items():
        texto = texto.replace(chave, valor)
    
    return texto

In [33]:
#Verificando a existencia de dados nulos nas colunas

base_dados.isnull().sum()

id                 0
id.1               0
Nome               0
Genero             0
Idade             56
RaÃ§a              0
EndereÃ§o          0
FormaÃ§Ã£o        44
Estado             0
Tempo de casa    200
Departamento       0
Senioridade        0
dtype: int64

In [34]:
# Verificando colunas

base_dados.columns

Index(['id', 'id.1', 'Nome', 'Genero', 'Idade', 'RaÃ§a', 'EndereÃ§o',
       'FormaÃ§Ã£o', 'Estado', 'Tempo de casa', 'Departamento', 'Senioridade'],
      dtype='object')

In [35]:
# Verificando valores individuais da base

for coluna in base_dados.columns:
    print(f"Valores únicos na coluna {coluna}:")
    print(base_dados[coluna].value_counts())
    print("\n")

Valores únicos na coluna id:
id
1        1
6671     1
6664     1
6665     1
6666     1
        ..
3334     1
3335     1
3336     1
3337     1
10000    1
Name: count, Length: 10000, dtype: int64


Valores únicos na coluna id.1:
id.1
1        1
6671     1
6664     1
6665     1
6666     1
        ..
3334     1
3335     1
3336     1
3337     1
10000    1
Name: count, Length: 10000, dtype: int64


Valores únicos na coluna Nome:
Nome
Francisco da Silva                          2
Renato Pinto                                2
Jenny de Godoy                              2
FÃ©lix da Silva                             2
Carolina de Souza                           2
                                           ..
Marciano Aaepa Uniuilan                     1
Nilo Torres                                 1
DionÃ­sio Joel de Lima Ysigenol da Silva    1
NÃºbia Inyz                                 1
Augusto JosÃ© do Rio de Tavares             1
Name: count, Length: 9961, dtype: int64


Valores únicos na coluna Genero:
Genero
Masc    7500
Fem     2500
Name: count, dtype: int64


Valores únicos na coluna Idade:
Idade
22.0    546
21.0    440
20.0    428
30.0    423
25.0    408
       ...
64.0      1
6.0       1
61.0      1
68.0      1
74.0      1
Name: count, Length: 61, dtype: int64


Valores únicos na coluna RaÃ§a:
RaÃ§a
pardo        4700
branco       4300
preto         900
indÃ­gena      50
amarelo        50
Name: count, dtype: int64


Valores únicos na coluna EndereÃ§o:
EndereÃ§o
9155 Harold Oval\nSellersside, FL 21337                     1
507 Harrell Drive\nRodriguezmouth, NC 32204                 1
063 Natasha Extensions\nKevinburgh, VT 47121                1
796 Brenda Passage\nHeatherfort, LA 95816                   1
20211 Hays Estate\nCharlotteborough, WY 91902               1
                                                           ..
955 James Greens\nStevenhaven, CT 97828                     1
6831 Michael Forest\nTeresaborough, HI 42484                1
153 Keith Station\nLake Michael, OK 50371                   1
63375 Bennett Underpass Apt. 662\nMoniqueshire, MA 56729    1
72486 Diaz Springs Suite 182\nNew Thomasview, AR 49434      1
Name: count, Length: 10000, dtype: int64


Valores únicos na coluna FormaÃ§Ã£o:
FormaÃ§Ã£o
Ensino Superior     5972
PÃ³s graduaÃ§Ã£o    1496
Mestrado            1193
Doutorado            797
Ensino MÃ©dio        498
Name: count, dtype: int64


Valores únicos na coluna Estado:
Estado
SÃ£o Paulo             1000
Rio de Janeiro          900
Minas Gerais            800
ParanÃ¡                 700
Santa Catarina          600
Rio Grande do Sul       600
Sergipe                 265
Mato Grosso do Sul      265
Distrito Federal        265
ParaÃ­ba                265
MaranhÃ£o               265
Mato Grosso             265
Pernambuco              265
Rio Grande do Norte     265
PiauÃ­                  265
GoiÃ¡s                  265
ParÃ¡                   265
Bahia                   265
Amazonas                265
Roraima                 265
Acre                    265
AmapÃ¡                  265
RondÃ´nia               265
CearÃ¡                  265
Tocantins               265
Alagoas                 265
EspÃ­rito Santo         100
Name: count, dtype: int64


Valores únicos na coluna Tempo de casa:
Tempo de casa
 5.0     1277
 6.0     1252
 4.0     1150
 7.0     1142
 8.0      938
 3.0      932
 9.0      657
 2.0      649
 10.0     428
 1.0      426
 0.0      405
 11.0     226
 12.0     132
-1.0       59
 13.0      56
 14.0      26
-2.0       25
-3.0       12
 15.0       4
-5.0        1
-6.0        1
 17.0       1
 16.0       1
Name: count, dtype: int64


Valores únicos na coluna Departamento:
Departamento
Administrativo                 1112
Compras                        1111
Contabilidade                  1111
Vendas                         1111
Recursos Humanos               1111
OperaÃ§Ãµes                    1111
Desenvolvimento de Produtos    1111
Marketing                      1111
TI                             1111
Name: count, dtype: int64


Valores únicos na coluna Senioridade:
Senioridade
Analista JÃºnior    3000
Analista Pleno      2500
Analista SÃªnior    2000
Gerente             1500
EstagiÃ¡rio          900
Diretor               90
gerente               10
Name: count, dtype: int64

## Identificando as colunas presentes na base

| Nome da Coluna | Descrição                                                |
|----------------|----------------------------------------------------------|
|id| Ordenador|
|id.1| Ordenador?|
|Nome| Nome do colaborador|
|Genero| Genero do colaborador (Valores = Masc e Fem)|
|Idade| Idade, em anos|
|Raça| Etnia do colaborador (Valores = pardo, branco preto, indigena, amarelo)|
|Endereço| Endereço do colaborador|
|Formação| Formação escolar/profissional do colaborador (Valores = Ensino Superior, Pós graduação, Mestrado, Doutorado, Ensino Médio)|
|Estado| UF de residencia do colaborador|
|Tempo de casa| Quanto tempo o olaborador trabalha na empresa, medida provavelmente em meses|
|Departamento| Setor de trabalho do colaborador(Valores = Departamento Administrativo, Compras, Contabilidade, Vendas, Recursos Humanos, Operações, Desenvolvimento de Produtos, Marketing, TI)|
|Senioridade |  do colaborador (Valores = Analista Júnior, Analista Pleno, Analista Sênior, Gerente, Estagiário, Diretor, gerente)|

## Colunas problemáticas

| Nome da Coluna | Descrição                                                |
|----------------|----------------------------------------------------------|
|id e id.1| Duplicadas?|
|Nome| Entradas Duplicadas?|
|Idade| Valores incongruentes (<16), tratar nulos|
|Genero| Conceitualmente - Binário?|
|Raça| conceitualmente - nomenclatura? |
|Endereço| Terá uso? Excluir? |
|Estado| distribuição unifiorme de ampla parte, interfere? |
|Fiomação| Tratar nulos|
|Tempo de casa| Medida em meses? Porque numeros negativos? Tratar nulos.|
|Departamento| distribuição unifiorme, interfere? |

In [36]:
# verificando id e id.1

ids_diferentes = base_dados.loc[base_dados['id'] != base_dados['id.1']]

ids_diferentes

Empty DataFrame
Columns: [id, id.1, Nome, Genero, Idade, RaÃ§a, EndereÃ§o, FormaÃ§Ã£o, Estado, Tempo de casa, Departamento, Senioridade]
Index: []

In [37]:
ids_iguais = base_dados.loc[base_dados['id'] == base_dados['id.1']]

ids_iguais

,id,id.1,Nome,Genero,Idade,RaÃ§a,EndereÃ§o,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\nSellersside, FL 21337",Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,"941 Martin Manor\nLake Isaiahtown, FM 43797",Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\nMejiaville, LA 17095",Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\nSmithborough, NV 0...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\nSandraport, MN 33570",Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

## Tratativas 

* Como todas  as ids são basicamente iguais (provavlemente um processo de limpeza ou miogração de base em que precisaram ser verificadas) pode extinguir a informação duplicada;
* Usar unidecode para corrigir grafos do dataframe, visto que mesmo importanto comom Latin/UTF-8 eles persistem;
* _unidecode não foi sufuciente, criei uma função pra isso;_
* Debater o emprego do termo "raça", ou da binariedade dos dados em "gênero";
* Debater a uniformidade da amostra, como em alguns estados, departamentos...

In [38]:
#Excluir coluna id duplicada

base_dados = base_dados.drop('id.1', axis=1)

base_dados

,id,Nome,Genero,Idade,RaÃ§a,EndereÃ§o,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\nSellersside, FL 21337",Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,"941 Martin Manor\nLake Isaiahtown, FM 43797",Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\nMejiaville, LA 17095",Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\nSmithborough, NV 0...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\nSandraport, MN 33570",Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [39]:
#Corrigir os nomes das colunas do Dataframe

# Criar um dicionário com os nomes antigos das colunas como chaves e os nomes novos como valores
novo_nomes_colunas = {col: substituir_codificados(col) for col in base_dados.columns}

# Renomear as colunas do DataFrame usando o dicionário
base_dados = base_dados.rename(columns=novo_nomes_colunas)

# Imprimir os novos nomes das colunas
print(base_dados.columns)

Index(['id', 'Nome', 'Genero', 'Idade', 'Raça', 'Endereço', 'Formação',
       'Estado', 'Tempo de casa', 'Departamento', 'Senioridade'],
      dtype='object')

In [40]:
base_dados.dtypes

id                 int64
Nome              object
Genero            object
Idade            float64
Raça              object
Endereço          object
Formação          object
Estado            object
Tempo de casa    float64
Departamento      object
Senioridade       object
dtype: object

In [41]:
#Formação apresenta dados em float, vamos corrigir isso

base_dados['Formação'] = base_dados['Formação'].astype(str)

In [42]:
#Separar as colunas que contem somente texto
colunas_texto = ['Nome', 'Genero', 'Raça', 'Endereço', 'Estado', 'Formação', 'Departamento', 'Senioridade']

# Aplicar a função substituir_codificados a cada elemento do DataFrame
for item in colunas_texto:
   base_dados[item] = base_dados[item].apply(substituir_codificados)

# Imprimir o DataFrame para verificar os resultados
print(base_dados)

         id                                     Nome Genero  Idade    Raça  \
0         1  Eleonora Arilda Penedo Gomes de Padilha    Fem   34.0   pardo
1         2           Elisângela Gabrielle de Osório    Fem   26.0   pardo
2         3                     José Túlio de Cabral   Masc   35.0   pardo
3         4      Ezequiel Edivaldo de Medeiros Sonao   Masc   24.0   pardo
4         5                 Fagner Josiel dos Santos   Masc   21.0   pardo
...     ...                                      ...    ...    ...     ...
9995   9996                       Omar Camilo da Paz   Masc   21.0   pardo
9996   9997                Edu de Muniz Jinuyul Neto   Masc   44.0   pardo
9997   9998                  Benedito Robert Dlievic   Masc   21.0  branco
9998   9999                   Bento Osvaldo do Piauí   Masc   39.0   pardo
9999  10000           Augusto José do Rio de Tavares   Masc   35.0  branco

                                               Endereço         Formação  \
0               9155 Harold Oval\nSellersside, FL 21337     Ensino Médio
1           941 Martin Manor\nLake Isaiahtown, FM 43797     Ensino Médio
2                110 Davis Ridges\nMejiaville, LA 17095     Ensino Médio
3     48010 Wilson Glen Apt. 749\nSmithborough, NV 0...  Ensino Superior
4       8666 Ramos Ports Apt. 070\nSandraport, MN 33570  Ensino Superior
...                                                 ...              ...
9995          47323 Casey Junction\nJaimefort, UT 49158  Ensino Superior
9996  1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...     Ensino Médio
9997          41179 Tracie Parkways\nLangfort, IA 88137  Ensino Superior
9998                902 Luis Island\nBrownton, NJ 61984  Ensino Superior
9999  72486 Diaz Springs Suite 182\nNew Thomasview, ...  Ensino Superior

                Estado  Tempo de casa                 Departamento  \
0       Santa Catarina           12.0                      Compras
1                 Pará            6.0                Contabilidade
2       Santa Catarina            5.0                       Vendas
3            Tocantins            4.0               Administrativo
4                Ceará            5.0             Recursos Humanos
...                ...            ...                          ...
9995          Rondônia            9.0                Contabilidade
9996           Paraíba           10.0                Contabilidade
9997  Distrito Federal            6.0  Desenvolvimento de Produtos
9998            Paraná            5.0                       Vendas
9999        Pernambuco            2.0                       Vendas

          Senioridade
0      Analista Pleno
1     Analista Júnior
2      Analista Pleno
3             Gerente
4     Analista Júnior
...               ...
9995  Analista Júnior
9996  Analista Júnior
9997          Gerente
9998  Analista Júnior
9999   Analista Pleno

[10000 rows x 11 columns]

In [43]:
# Verificar os valores em senioridade (parece que gerente aparece duplicado)

base_dados['Senioridade'].value_counts()

Senioridade
Analista Júnior    3000
Analista Pleno     2500
Analista Sênior    2000
Gerente            1500
Estagiário          900
Diretor              90
gerente              10
Name: count, dtype: int64

In [44]:
# Alterar para uniformizar o item Gerente

base_dados['Senioridade'] = base_dados['Senioridade'].replace('gerente', "Gerente")

base_dados['Senioridade'].value_counts()

Senioridade
Analista Júnior    3000
Analista Pleno     2500
Analista Sênior    2000
Gerente            1510
Estagiário          900
Diretor              90
Name: count, dtype: int64

## Resta aqui, lidar com os numeros, tratar os nulos e negativos (visto que não tem como trabalhar meses negativos)

* Analisando basicamente, temos 56 registros sem idade. Embora haja ferramentas para tentar predizer essas pretensas idades, devivo ao baixo numero ded amostas, acredito que possam ser excluídas sem prejuízo à analise;
* O memso pode-se dizer dos 44 registros sem formação. Antes, é necessário verificar se existem nesses registro sestágiários menores de idade, que pode,m, por estar com o ensino médio a completar, não terem ccadastrado o código corretamente;
* Porém, no que toca atempodede casa, temos dois problemas: o numero de registros nulos é um pouco maior, são duzentos numeros nulos, mais 100 que tem tempo de casa negativo. Acredito aqui que a abordagem seria de converter os numeros negativos em positivos, considerar que seja algum tipo de erro de registro da base, e eliminar da base somente os nulos;
* Na idade, temos valores inválidos (<14 anos), que devem ser excluidos, exceto se forem de estágários que esteja, no ensino médio, pois por esses é possível determinar um erro na entrada ( 5, 6, 7, quando na verdade seriam 15, 16,17);
* Verificar os nomes repetidos, se realmente são entradas duplicadas;
* Gravar um csv com as alterações até aqui, visto que, em caso de mudanças nas análises, foco ou qualquer coisa que essa parte de limpeza interfira, a mesma possa ser revertida (exemplo, ignorar o tempo de casa para trabalhar com Genero e Formação, por exemplo);
* Quanto as questões mais conceituais, deixar pra denbater com o grupo em monitoria;

In [45]:
base_dados.to_csv('base_dados-ETL_antes_nulos.csv', index=False)

In [46]:
base_dados = base_dados.dropna()

base_dados

,id,Nome,Genero,Idade,Raça,Endereço,Formação,Estado,Tempo de casa,Departamento,Senioridade
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\nSellersside, FL 21337",Ensino Médio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,Elisângela Gabrielle de Osório,Fem,26.0,pardo,"941 Martin Manor\nLake Isaiahtown, FM 43797",Ensino Médio,Pará,6.0,Contabilidade,Analista Júnior
2,3,José Túlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\nMejiaville, LA 17095",Ensino Médio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\nSmithborough, NV 0...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\nSandraport, MN 33570",Ensino Superior,Ceará,5.0,Recursos Humanos,Analista Júnior
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,Rondônia,9.0,Contabilidade,Analista Júnior
9996,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino Médio,Paraíba,10.0,Contabilidade,Analista Júnior
9997,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,Bento Osvaldo do Piauí,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,Paraná,5.0,Vendas,Analista Júnior
9999,10000,Augusto José do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [47]:
base_dados.isnull().sum()

id               0
Nome             0
Genero           0
Idade            0
Raça             0
Endereço         0
Formação         0
Estado           0
Tempo de casa    0
Departamento     0
Senioridade      0
dtype: int64

In [48]:
# Verificando nomes duplicados

duplicadas = base_dados.duplicated(subset='Nome', keep=False)

linhas_duplicadas = base_dados[duplicadas]

linhas_duplicadas.to_csv('base_dados-ETL_homonimos.csv', index=False)

## Sobre os nomes duplicados

Verificando os dados, fica perceptível não se tratarem de homônimos, visto que na maioria dos duplicados, existe a presença de divergências de raça, bem como divergências em formação (como a pessoa fucando mais velha e involuindo na sua formação, ou a pessoa envelhecendo e seu tempo de casa diminuindo)

SAlvamos esses dados divergêntes, até mesmo para consultas posteriores, visando identificar possíveis mudanças de endereços aliadas a possíveis erros de ccadastramento, que poderiam gerar tais inconsistencias.

In [49]:
# Verificando as idades 

base_dados['Idade'].value_counts()

Idade
22.0    536
21.0    434
20.0    421
30.0    414
25.0    398
33.0    395
34.0    394
31.0    388
28.0    379
32.0    378
27.0    376
29.0    362
35.0    350
19.0    349
18.0    345
36.0    332
26.0    327
24.0    325
37.0    305
23.0    299
38.0    292
39.0    254
40.0    226
41.0    212
42.0    184
43.0    165
44.0    148
45.0    122
46.0     93
48.0     91
47.0     77
49.0     67
50.0     51
51.0     42
52.0     39
54.0     27
53.0     26
55.0     20
56.0     16
16.0     12
57.0     11
15.0     10
17.0     10
10.0      7
63.0      6
12.0      6
58.0      6
9.0       2
13.0      2
62.0      2
11.0      2
14.0      1
8.0       1
5.0       1
61.0      1
64.0      1
6.0       1
65.0      1
68.0      1
74.0      1
Name: count, dtype: int64

In [50]:
# Seprando os "menores" da lista

menores = base_dados[base_dados['Idade'] < 16]

menores

,id,Nome,Genero,Idade,Raça,Endereço,Formação,Estado,Tempo de casa,Departamento,Senioridade
1227,1228,João de França dos Reis do Nascimento,Masc,12.0,branco,"13934 Cole Cove Apt. 842\nWarrenburgh, AZ 85126",nan,Rio de Janeiro,8.0,Compras,Analista Júnior
1927,1928,Eliane Shoa Trevisan,Fem,15.0,branco,"2610 Ward Mills\nSouth Travis, NM 43422",nan,Roraima,0.0,Vendas,Diretor
1981,1982,Bartolomeu Iago de França Iusov,Masc,15.0,branco,4479 Martin Stravenue Suite 401\nNew Heatherbe...,nan,Acre,9.0,Contabilidade,Analista Júnior
2396,2397,Raí da Silva,Masc,10.0,branco,"8961 Franco Drives\nHallside, MD 03500",nan,Pernambuco,10.0,Marketing,Analista Sênior
2581,2582,Romildo Reginaldo Trevisan Barroso,Masc,12.0,preto,"8552 Guerrero Trail\nNorth Christinemouth, TX ...",Ensino Superior,Ceará,2.0,Marketing,Analista Pleno
2612,2613,Charles de Viana da Silva,Masc,10.0,branco,"2259 Alexis Keys Suite 044\nSmithfurt, RI 75983",nan,Paraíba,7.0,Recursos Humanos,Estagiário
2807,2808,Gilmar de Noronha Tealvic,Masc,15.0,branco,"PSC 2037, Box 9323\nAPO AE 96057",nan,Mato Grosso,3.0,Administrativo,Estagiário
3188,3189,Abílio Luciano Vaz,Masc,12.0,branco,"22946 Lisa Corner Suite 080\nNorth Matthew, MI...",nan,Rondônia,4.0,Marketing,Analista Pleno
3270,3271,Raquel dos Santos,Fem,15.0,branco,"0078 Valentine Drives Apt. 924\nCraigbury, IA ...",nan,Minas Gerais,2.0,Vendas,Analista Júnior
3886,3887,Lidiane Sâmia de Carvalho,Fem,6.0,preto,"01703 William Greens Apt. 560\nAngelaville, AK...",Ensino Superior,Alagoas,9.0,Recursos Humanos,Analista Júnior
3897,3898,Pablo de Souza Dlao da Silva,Masc,15.0,branco,USNS Burch\nFPO AP 90956,nan,Tocantins,9.0,TI,Analista Pleno
4928,4929,Lúcia Paulínia dos Pinhais Emmoan,Fem,13.0,preto,"PSC 1519, Box 3291\nAPO AP 97012",Ensino Superior,Amapá,7.0,Vendas,Analista Pleno
5025,5026,Renato Artur dos Santos Júnior,Masc,11.0,branco,"26797 Fox Springs\nFordton, DE 00815",nan,Mato Grosso do Sul,3.0,Contabilidade,Analista Júnior
5233,5234,Laís Tainá Oeman,Fem,14.0,branco,"101 Joe Avenue Suite 537\nJulianchester, AR 15447",nan,Paraná,7.0,Compras,Analista Sênior
5282,5283,Elias Orlando Uason Júnior,Masc,10.0,branco,"986 Christopher Greens Apt. 893\nTeresatown, R...",nan,Minas Gerais,7.0,Compras,Analista Pleno
5695,5696,Helder Sílvio de Barbosa da Silva,Masc,11.0,branco,"4732 Courtney Plaza Suite 848\nSouth Ryanfort,...",nan,Sergipe,5.0,Administrativo,Gerente
5849,5850,Rogério de França,Masc,15.0,branco,"950 Mejia Greens\nLake Richardchester, UT 50740",nan,Goiás,6.0,Contabilidade,Analista Júnior
6090,6091,Marcielle Sabrina Thorrurnã,Fem,9.0,branco,"4223 Newman Run\nLake Davidtown, UT 86469",nan,Minas Gerais,2.0,Marketing,Gerente
6280,6281,Nicolau de Lemos Zageshia Dieman,Masc,5.0,branco,"33930 Deborah Crescent\nMitchellview, UT 09365",nan,Paraíba,4.0,Recursos Humanos,Analista Pleno
6594,6595,Solange de Peixoto,Fem,9.0,branco,"8483 Denise Cove Suite 928\nJuanland, SD 12657",nan,Pernambuco,6.0,Vendas,Analista Júnior
6599,6600,Samara de Pereira,Fem,15.0,indígena,"PSC 1630, Box 4815\nAPO AA 90695",Ensino Superior,Ceará,5.0,Recursos Humanos,Estagiário
6631,6632,Sandro de Cerqueira Barroso,Masc,10.0,branco,"845 Erin Plaza Apt. 189\nAmandashire, MS 09672",nan,Minas Gerais,6.0,Desenvolvimento de Produtos,Analista Pleno
6684,6685,Cristiano da Silva de Queiroz Werner,Masc,15.0,preto,"893 Betty Ways Apt. 257\nWest Ellenton, NY 62191",Ensino Superior,Mato Grosso do Sul,9.0,Recursos Humanos,Analista Júnior
7173,7174,Filipe de Soares dos Santos Neto,Masc,10.0,preto,"PSC 1819, Box 2723\nAPO AA 66960",Pós graduação,Rio de Janeiro,5.0,Desenvolvimento de Produtos,Analista Pleno
7235,7236,Sílvio Demilson Nefu Mofu,Masc,8.0,branco,"99351 Amanda Branch Apt. 263\nHuffmanmouth, NY...",nan,São Paulo,2.0,Desenvolvimento de Produtos,Analista Sênior
7591,7592,Hugo Emanoel dos Santos,Masc,12.0,preto,"029 Lawrence Walk\nWest Cindy, CO 67832",Doutorado,Bahia,8.0,Contabilidade,Diretor
7759,7760,Aurélio Jackson Sudo de Barbosa Vakae,Masc,15.0,branco,"10909 Steven Isle\nLake Davidchester, MS 99405",nan,Goiás,3.0,Marketing,Analista Júnior
7838,7839,Eleonora Zilda Memohoya Ofre de Barbosa,Fem,10.0,branco,"7619 Michele Row Apt. 044\nDonaldmouth, MS 87884",nan,Pernambuco,5.0,Marketing,Analista Júnior
8183,8184,Silvair Ezequiel da Silva,Masc,10.0,branco,"7392 Wanda Mall Suite 359\nJasonton, MT 01516",nan,Rio de Janeiro,3.0,Vendas,Analista Sênior
8281,8282,José Alex de Morais,Masc,15.0,branco,"418 Julia Inlet\nJohnsonburgh, ID 21206",nan,Ceará,9.0,Recursos Humanos,Estagiário
9020,9021,Roger Gilson Supo,Masc,12.0,branco,84328 Felicia Fords Apt. 171\nNew Kathrynburgh...,nan,Paraíba,2.0,Administrativo,Gerente
9515,9516,Suzy Leila Pimenta Portugal,Fem,13.0,branco,"3385 Moody Prairie Suite 058\nNew Lisa, NH 59754",nan,Minas Gerais,4.0,Operações,Analista Júnior
9917,9918,Mateus Cleis Imos de Castro,Masc,12.0,indígena,"52163 Baker Summit\nWest Lisa, AK 70064",Ensino Superior,Rio Grande do Norte,9.0,TI,Analista Júnior

## Sobre a presença de menores na lista

Conforme isolamos os cadastros onde a idade seja menor de 16 anos (idade legal para que se assuma um estagiário na lei vigente), percebemos que:
* Muitos dos cadastrso se trabtam de pessoas com Formação não declarada, o que poderia auxiliar na identificação de um Estagiário de ensino médio que tivesse preencido a idade errado, conforme mencionado anteriormente;
* Muitos desses cadastros trata-se de senioridades altas, bem como tempo de casas alto o que dificulta tentar identificar as idades corretamentes;
* Outro vetor tyambém são formações mais avançadas com pessoas com pouca idade, o que também dificulta determinar uma possível correção dessas idades.
* Nesse caso, optamos por isolar esses dados, mas excluí--los da base;

In [51]:
#Salvar os dados dos menores à excluir
menores.to_csv('base_dados-ETL_menores.csv', index=False)

# Identificar os índices das linhas onde a idade é menor que 18
indices_menores_de_idade = base_dados[base_dados['Idade'] < 16].index

# Excluir essas linhas do DataFrame original
base_dados.drop(indices_menores_de_idade, inplace=True)

In [52]:
#Verificando negativos em Tempo de casa

base_dados['Tempo de casa'].value_counts()

Tempo de casa
 5.0     1265
 6.0     1243
 4.0     1140
 7.0     1130
 8.0      932
 3.0      923
 9.0      646
 2.0      640
 10.0     427
 1.0      424
 0.0      403
 11.0     221
 12.0     132
-1.0       58
 13.0      56
 14.0      26
-2.0       25
-3.0       12
 15.0       4
-5.0        1
-6.0        1
 17.0       1
 16.0       1
Name: count, dtype: int64

In [53]:
# Converter números negativos para positivos na coluna 'Tempo de casa'
base_dados['Tempo de casa'] = base_dados['Tempo de casa'].abs()

base_dados

,id,Nome,Genero,Idade,Raça,Endereço,Formação,Estado,Tempo de casa,Departamento,Senioridade
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\nSellersside, FL 21337",Ensino Médio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,Elisângela Gabrielle de Osório,Fem,26.0,pardo,"941 Martin Manor\nLake Isaiahtown, FM 43797",Ensino Médio,Pará,6.0,Contabilidade,Analista Júnior
2,3,José Túlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\nMejiaville, LA 17095",Ensino Médio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\nSmithborough, NV 0...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\nSandraport, MN 33570",Ensino Superior,Ceará,5.0,Recursos Humanos,Analista Júnior
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\nJaimefort, UT 49158",Ensino Superior,Rondônia,9.0,Contabilidade,Analista Júnior
9996,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\nJohnsonshire, GU 8...",Ensino Médio,Paraíba,10.0,Contabilidade,Analista Júnior
9997,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,Bento Osvaldo do Piauí,Masc,39.0,pardo,"902 Luis Island\nBrownton, NJ 61984",Ensino Superior,Paraná,5.0,Vendas,Analista Júnior
9999,10000,Augusto José do Rio de Tavares,Masc,35.0,branco,"72486 Diaz Springs Suite 182\nNew Thomasview, ...",Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [54]:
base_dados['Tempo de casa'].value_counts()

Tempo de casa
5.0     1266
6.0     1244
4.0     1140
7.0     1130
3.0      935
8.0      932
2.0      665
9.0      646
1.0      482
10.0     427
0.0      403
11.0     221
12.0     132
13.0      56
14.0      26
15.0       4
17.0       1
16.0       1
Name: count, dtype: int64

In [55]:
#Excluindo os cadastros com valores de casa = 0

base_dados = base_dados[base_dados['Tempo de casa'] != 0]

In [56]:
# Excluindo os valores 'nan' restantes na coluna 'Formação'

base_dados = base_dados[~base_dados['Formação'].str.contains('nan', na=False)]

## Reorganização e exclusão de alguns dados

Optamos por converter os vcalores negativos de tempo de casa, assumindo que houve algum erro na entrada, transformando-os em positivos. Quanto aos tempos de casda zerados, entedemos que esses cadastros podem ser de pessoas que inciaram um processo seletivo ou fizeram algum tipo de teste, mas não chegaram a integrear os quadros da empresa. As formações não preenchidas, decidimos exclui-las.

In [57]:
# Verificando valores individuais da base

for coluna in base_dados.columns:
    print(f"Valores únicos na coluna {coluna}:")
    print(base_dados[coluna].value_counts())
    print("\n")

Valores únicos na coluna id:
id
1        1
6640     1
6660     1
6661     1
6662     1
        ..
3327     1
3328     1
3329     1
3330     1
10000    1
Name: count, Length: 9291, dtype: int64


Valores únicos na coluna Nome:
Nome
Augusto de Souza                       2
Félix da Silva                         2
Aécio de Souza                         2
Táles da Silva                         2
Leonardo da Silva                      2
                                      ..
Isabela Vânia de Vasconcelos           1
Patrícia Uaer                          1
Amália Marielle da Paixão de Campos    1
Daniel Onuer                           1
Augusto José do Rio de Tavares         1
Name: count, Length: 9258, dtype: int64


Valores únicos na coluna Genero:
Genero
Masc    6952
Fem     2339
Name: count, dtype: int64


Valores únicos na coluna Idade:
Idade
22.0    511
21.0    422
20.0    400
30.0    399
25.0    382
34.0    379
33.0    377
31.0    372
28.0    365
32.0    357
27.0    355
29.0    340
19.0    339
18.0    335
35.0    334
36.0    325
26.0    311
24.0    308
37.0    292
23.0    287
38.0    284
39.0    248
40.0    216
41.0    206
42.0    177
43.0    153
44.0    145
45.0    115
46.0     88
48.0     86
47.0     73
49.0     66
50.0     49
51.0     39
52.0     36
53.0     26
54.0     25
55.0     19
56.0     16
57.0     11
58.0      6
63.0      6
16.0      2
17.0      2
62.0      2
68.0      1
61.0      1
65.0      1
64.0      1
74.0      1
Name: count, dtype: int64


Valores únicos na coluna Raça:
Raça
pardo       4362
branco      3996
preto        843
indígena      45
amarelo       45
Name: count, dtype: int64


Valores únicos na coluna Endereço:
Endereço
9155 Harold Oval\nSellersside, FL 21337                   1
567 Cox Parkways\nWest Jesus, MO 13479                    1
043 Strickland Walks\nJoshuabury, NJ 80203                1
18236 Arthur Mount Suite 579\nSouth Charles, AR 69066     1
USNS Jimenez\nFPO AA 17333                                1
                                                         ..
264 Alex Turnpike\nNatalieton, NJ 27814                   1
203 Spencer Route Suite 771\nEmilyborough, MP 94463       1
7354 Hart Islands\nEast Markview, RI 48172                1
07370 Roman Inlet\nCalvinberg, VI 87952                   1
72486 Diaz Springs Suite 182\nNew Thomasview, AR 49434    1
Name: count, Length: 9291, dtype: int64


Valores únicos na coluna Formação:
Formação
Ensino Superior    5587
Pós graduação      1397
Mestrado           1104
Doutorado           739
Ensino Médio        464
Name: count, dtype: int64


Valores únicos na coluna Estado:
Estado
São Paulo              931
Rio de Janeiro         842
Minas Gerais           730
Paraná                 650
Rio Grande do Sul      571
Santa Catarina         562
Bahia                  251
Amazonas               249
Sergipe                248
Ceará                  248
Acre                   248
Roraima                247
Mato Grosso            246
Tocantins              246
Rondônia               246
Amapá                  246
Pará                   245
Rio Grande do Norte    245
Piauí                  245
Paraíba                244
Alagoas                244
Maranhão               243
Distrito Federal       243
Mato Grosso do Sul     243
Pernambuco             242
Goiás                  239
Espírito Santo          97
Name: count, dtype: int64


Valores únicos na coluna Tempo de casa:
Tempo de casa
5.0     1264
6.0     1242
4.0     1137
7.0     1128
3.0      933
8.0      931
2.0      663
9.0      646
1.0      482
10.0     425
11.0     221
12.0     131
13.0      56
14.0      26
15.0       4
17.0       1
16.0       1
Name: count, dtype: int64


Valores únicos na coluna Departamento:
Departamento
Operações                      1040
Administrativo                 1037
Vendas                         1036
TI                             1036
Marketing                      1035
Compras                        1034
Recursos Humanos               1031
Contabilidade                  1027
Desenvolvimento de Produtos    1015
Name: count, dtype: int64


Valores únicos na coluna Senioridade:
Senioridade
Analista Júnior    2788
Analista Pleno     2321
Analista Sênior    1868
Gerente            1397
Estagiário          834
Diretor              83
Name: count, dtype: int64

In [58]:
#Finalizando a ETL com um CSV livre de valores nulos

base_dados.to_csv('base_dados-ETL_sem_nulos.csv', index=False)