In [3]:
import pandas as pd

caminho_arquivo = r'C:\Users\User\Desktop\Ada Hackaton\adahack-2024-dados\base_dados\base_de_dados.csv'
df = pd.read_csv(caminho_arquivo)

# Lista de substituições
substituicoes = {
    'Ã©': 'é',
    'Ã¢': 'â',
    'Ãº': 'ú',
    'Ã­': 'í',
    'Ã§': 'ç',
    'Ã¡': 'á',
    'Ã³': 'ó',
    'Ãª': 'ê',
    'Ã®': 'î',
    'Ã´': 'ô',
    'Ã»': 'û',
    'Ã£': 'ã',
    'Ãµ': 'õ',
    'Ã': 'à',
    'Ã¨': 'è',
    'Ã¬': 'ì',
    'Ã¹': 'ù',
    'Ã¤': 'ä',
    'Ã«': 'ë',
    'Ã¯': 'ï',
    'Ã¶': 'ö',
    'Ã¼': 'ü'
}

# Converte todas as colunas para o tipo de dado string
df = df.astype(str)

# Aplica as substituições em todas as colunas do DataFrame
for coluna in df.columns:
    for antigo, novo in substituicoes.items():
        df[coluna] = df[coluna].str.replace(antigo, novo)

# Exibe o DataFrame após a limpeza
display(df)

,id,id.1,Nome,Genero,Idade,RaÃ§a,EndereÃ§o,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\r\nSellersside, FL 21337",Ensino Médio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,2,Elisângela Gabrielle de Osório,Fem,26.0,pardo,"941 Martin Manor\r\nLake Isaiahtown, FM 43797",Ensino Médio,Pará,6.0,Contabilidade,Analista Júnior
2,3,3,José Túlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\r\nMejiaville, LA 17095",Ensino Médio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\r\nSmithborough, NV...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\r\nSandraport, MN 33570",Ensino Superior,Ceará,5.0,Recursos Humanos,Analista Júnior
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\r\nJaimefort, UT 49158",Ensino Superior,Rondônia,9.0,Contabilidade,Analista Júnior
9996,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\r\nJohnsonshire, GU...",Ensino Médio,Paraíba,10.0,Contabilidade,Analista Júnior
9997,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\r\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,9999,Bento Osvaldo do Piauí,Masc,39.0,pardo,"902 Luis Island\r\nBrownton, NJ 61984",Ensino Superior,Paraná,5.0,Vendas,Analista Júnior
9999,10000,10000,Augusto José do Rio de Tavares,Masc,35.0,branco,72486 Diaz Springs Suite 182\r\nNew Thomasview...,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno