In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('base_de_dados.csv')

In [5]:
display(df)

,id,id.1,Nome,Genero,Idade,RaÃ§a,EndereÃ§o,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\r\nSellersside, FL 21337",Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,"941 Martin Manor\r\nLake Isaiahtown, FM 43797",Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\r\nMejiaville, LA 17095",Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\r\nSmithborough, NV...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\r\nSandraport, MN 33570",Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\r\nJaimefort, UT 49158",Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\r\nJohnsonshire, GU...",Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\r\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,"902 Luis Island\r\nBrownton, NJ 61984",Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,72486 Diaz Springs Suite 182\r\nNew Thomasview...,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [6]:
df=df.drop('id.1', axis=1) #drop da coluna id duplicada

In [7]:
display(df)

,id,Nome,Genero,Idade,RaÃ§a,EndereÃ§o,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,"9155 Harold Oval\r\nSellersside, FL 21337",Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,"941 Martin Manor\r\nLake Isaiahtown, FM 43797",Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,"110 Davis Ridges\r\nMejiaville, LA 17095",Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,"48010 Wilson Glen Apt. 749\r\nSmithborough, NV...",Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,Fagner Josiel dos Santos,Masc,21.0,pardo,"8666 Ramos Ports Apt. 070\r\nSandraport, MN 33570",Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Omar Camilo da Paz,Masc,21.0,pardo,"47323 Casey Junction\r\nJaimefort, UT 49158",Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,"1431 Gina Gardens Apt. 534\r\nJohnsonshire, GU...",Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,Benedito Robert Dlievic,Masc,21.0,branco,"41179 Tracie Parkways\r\nLangfort, IA 88137",Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,"902 Luis Island\r\nBrownton, NJ 61984",Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,72486 Diaz Springs Suite 182\r\nNew Thomasview...,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [8]:
df=df.drop('EndereÃ§o', axis=1) #drop da coluna endereço sem uso

In [9]:
display(df)

,id,Nome,Genero,Idade,RaÃ§a,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,Fagner Josiel dos Santos,Masc,21.0,pardo,Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...
9995,9996,Omar Camilo da Paz,Masc,21.0,pardo,Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,Benedito Robert Dlievic,Masc,21.0,branco,Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [16]:
df.rename(columns={
    'Raça': 'raca',
    'Formação': 'formacao',
    'Tempo de Casa': 'tempo_de_casa',
    'senioridade': 'senioridade'
}, inplace=True)
#renomear as colunas

In [11]:
display(df)

,id,Nome,Genero,Idade,RaÃ§a,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,Ensino MÃ©dio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,ElisÃ¢ngela Gabrielle de OsÃ³rio,Fem,26.0,pardo,Ensino MÃ©dio,ParÃ¡,6.0,Contabilidade,Analista JÃºnior
2,3,JosÃ© TÃºlio de Cabral,Masc,35.0,pardo,Ensino MÃ©dio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,Fagner Josiel dos Santos,Masc,21.0,pardo,Ensino Superior,CearÃ¡,5.0,Recursos Humanos,Analista JÃºnior
...,...,...,...,...,...,...,...,...,...,...
9995,9996,Omar Camilo da Paz,Masc,21.0,pardo,Ensino Superior,RondÃ´nia,9.0,Contabilidade,Analista JÃºnior
9996,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,Ensino MÃ©dio,ParaÃ­ba,10.0,Contabilidade,Analista JÃºnior
9997,9998,Benedito Robert Dlievic,Masc,21.0,branco,Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,Bento Osvaldo do PiauÃ­,Masc,39.0,pardo,Ensino Superior,ParanÃ¡,5.0,Vendas,Analista JÃºnior
9999,10000,Augusto JosÃ© do Rio de Tavares,Masc,35.0,branco,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [18]:
mapeamento = {
    'Ã©': 'é',
    'Ã¢': 'â',
    'Ãº': 'ú',
    'Ã­': 'í',
    'Ã§': 'ç',
    'Ã¡': 'á',
    'Ã³': 'ó',
    'Ãª': 'ê',
    'Ã®': 'î',
    'Ã´': 'ô',
    'Ã»': 'û',
    'Ã£': 'ã',
    'Ãµ': 'õ',
    'Ã ': 'à',
    'Ã¨': 'è',
    'Ã¬': 'ì',
    'Ã¹': 'ù',
    'Ã¤': 'ä',
    'Ã«': 'ë',
    'Ã¯': 'ï',
    'Ã¶': 'ö',
    'Ã¼': 'ü'
}

for col in df.columns:
    df[col] = df[col].replace(mapeamento, regex=True)  #ajuste dos dados

In [13]:
display(df)

,id,Nome,Genero,Idade,RaÃ§a,FormaÃ§Ã£o,Estado,Tempo de casa,Departamento,Senioridade
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,Ensino Médio,Santa Catarina,12.0,Compras,Analista Pleno
1,2,Elisângela Gabrielle de Osório,Fem,26.0,pardo,Ensino Médio,Pará,6.0,Contabilidade,Analista Júnior
2,3,José Túlio de Cabral,Masc,35.0,pardo,Ensino Médio,Santa Catarina,5.0,Vendas,Analista Pleno
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,Ensino Superior,Tocantins,4.0,Administrativo,Gerente
4,5,Fagner Josiel dos Santos,Masc,21.0,pardo,Ensino Superior,Ceará,5.0,Recursos Humanos,Analista Júnior
...,...,...,...,...,...,...,...,...,...,...
9995,9996,Omar Camilo da Paz,Masc,21.0,pardo,Ensino Superior,Rondônia,9.0,Contabilidade,Analista Júnior
9996,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,Ensino Médio,Paraíba,10.0,Contabilidade,Analista Júnior
9997,9998,Benedito Robert Dlievic,Masc,21.0,branco,Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente
9998,9999,Bento Osvaldo do Piauí,Masc,39.0,pardo,Ensino Superior,Paraná,5.0,Vendas,Analista Júnior
9999,10000,Augusto José do Rio de Tavares,Masc,35.0,branco,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno

In [14]:
df.describe().T  #visualização estatística da base

,count,mean,std,min,25%,50%,75%,max
id,10000.0,5000.500000,2886.895680,1.0,2500.75,5000.5,7500.25,10000.0
Idade,9944.0,30.827836,8.738915,5.0,24.00,30.0,37.00,74.0
Tempo de casa,9800.0,5.490510,2.963759,-6.0,3.00,5.0,8.00,17.0

In [20]:
df['tempo_de_casa'] = df['tempo_de_casa'].abs() #retirada de valores nulo. No caso tempo de casão não faz sentido ser negativo.

KeyError: 'tempo_de_casa'

In [21]:
df.describe().T #Confirmação

,count,mean,std,min,25%,50%,75%,max
id,10000.0,5000.500000,2886.895680,1.0,2500.75,5000.5,7500.25,10000.0
Idade,9944.0,30.827836,8.738915,5.0,24.00,30.0,37.00,74.0
Tempo de casa,9800.0,5.490510,2.963759,-6.0,3.00,5.0,8.00,17.0

In [ ]:
df_menor_18 = df[df['Idade'] < 18] #Busca de dados incoerentes: Pessoas menores de 18 anos x Vaga e Cargos

In [ ]:
display(df_menor_18)

,id,Nome,Genero,Idade,raca,formacao,Estado,tempo_de_casa,Departamento,senioridade
414,415,Sandro Fagner Dutra dos Santos da Silva,Masc,16.0,branco,NaN,Acre,7.0,Recursos Humanos,Gerente
660,661,Jack Fiyita,Masc,17.0,branco,NaN,Alagoas,7.0,Compras,Analista Pleno
1227,1228,João de França dos Reis do Nascimento,Masc,12.0,branco,NaN,Rio de Janeiro,8.0,Compras,Analista Júnior
1554,1555,Reginaldo de Mello da Costa Júnior,Masc,16.0,branco,NaN,Minas Gerais,3.0,Administrativo,Gerente
1672,1673,Gabriel Nicolau Rangel,Masc,17.0,branco,NaN,São Paulo,6.0,TI,Gerente
1676,1677,Eric Victor de Garcia,Masc,16.0,branco,NaN,Distrito Federal,4.0,Desenvolvimento de Produtos,Analista Sênior
1927,1928,Eliane Shoa Trevisan,Fem,15.0,branco,NaN,Roraima,0.0,Vendas,Diretor
1981,1982,Bartolomeu Iago de França Iusov,Masc,15.0,branco,NaN,Acre,9.0,Contabilidade,Analista Júnior
2396,2397,Raí da Silva,Masc,10.0,branco,NaN,Pernambuco,10.0,Marketing,Analista Sênior
2581,2582,Romildo Reginaldo Trevisan Barroso,Masc,12.0,preto,Ensino Superior,Ceará,2.0,Marketing,Analista Pleno
2612,2613,Charles de Viana da Silva,Masc,10.0,branco,NaN,Paraíba,7.0,Recursos Humanos,Estagiário
2807,2808,Gilmar de Noronha Tealvic,Masc,15.0,branco,NaN,Mato Grosso,3.0,Administrativo,Estagiário
3159,3160,Walter Cleberson Gomes de Machado,Masc,16.0,branco,NaN,Rondônia,2.0,Recursos Humanos,Analista Sênior
3188,3189,Abílio Luciano Vaz,Masc,12.0,branco,NaN,Rondônia,4.0,Marketing,Analista Pleno
3270,3271,Raquel dos Santos,Fem,15.0,branco,NaN,Minas Gerais,2.0,Vendas,Analista Júnior
3756,3757,Jonathas Vinícius de Oliveira,Masc,16.0,branco,NaN,Sergipe,0.0,Marketing,Gerente
3886,3887,Lidiane Sâmia de Carvalho,Fem,6.0,preto,Ensino Superior,Alagoas,9.0,Recursos Humanos,Analista Júnior
3897,3898,Pablo de Souza Dlao da Silva,Masc,15.0,branco,NaN,Tocantins,9.0,TI,Analista Pleno
3923,3924,Toninho Leandro Uzgazsume Júnior,Masc,17.0,branco,NaN,Amapá,8.0,Operações,Analista Pleno
4007,4008,Luke de Lacerda,Masc,16.0,branco,NaN,Paraná,6.0,Marketing,Analista Sênior
4017,4018,Rodrigo Griswociman Rangel Júnior,Masc,17.0,branco,NaN,São Paulo,4.0,Compras,Gerente
4414,4415,Patrick Victor de Osório Schmidt,Masc,17.0,branco,NaN,Minas Gerais,5.0,Vendas,Gerente
4777,4778,Ãureo Félix Ipuvic,Masc,16.0,indígena,Pós graduação,Ceará,1.0,TI,Gerente
4876,4877,Marlon Ã‚ngelo da Cunha,Masc,17.0,branco,NaN,Minas Gerais,2.0,Desenvolvimento de Produtos,Analista Pleno
4928,4929,Lúcia Paulínia dos Pinhais Emmoan,Fem,13.0,preto,Ensino Superior,Amapá,7.0,Vendas,Analista Pleno
5001,5002,Jorge Shimosa,Masc,17.0,preto,Ensino Superior,Amapá,2.0,Contabilidade,Analista Júnior
5025,5026,Renato Artur dos Santos Júnior,Masc,11.0,branco,NaN,Mato Grosso do Sul,3.0,Contabilidade,Analista Júnior
5233,5234,Laís Tainá Oeman,Fem,14.0,branco,NaN,Paraná,7.0,Compras,Analista Sênior
5282,5283,Elias Orlando Uason Júnior,Masc,10.0,branco,NaN,Minas Gerais,7.0,Compras,Analista Pleno
5285,5286,Dário Bartolomeu Cekol,Masc,17.0,branco,NaN,Santa Catarina,12.0,Contabilidade,Estagiário
5364,5365,Elias Hilton de Carvalho Bahia Liumyvic,Masc,11.0,branco,NaN,São Paulo,NaN,TI,Analista Sênior
5566,5567,Leonardo Joel de Souza,Masc,16.0,branco,NaN,Amapá,10.0,Desenvolvimento de Produtos,Analista Júnior
5695,5696,Helder Sílvio de Barbosa da Silva,Masc,11.0,branco,NaN,Sergipe,5.0,Administrativo,Gerente
5845,5846,João Manoel Biaov de Fraga,Masc,16.0,preto,Ensino Superior,Paraná,4.0,Compras,Analista Pleno
5849,5850,Rogério de França,Masc,15.0,branco,NaN,Goiás,6.0,Contabilidade,Analista Júnior
5948,5949,Damião de Assunção Júnior,Masc,17.0,preto,Ensino Superior,Mato Grosso,10.0,TI,Analista Pleno
5962,5963,Anne Eliane Audo de Pimentel,Fem,17.0,branco,NaN,Pernambuco,4.0,Contabilidade,Analista Sênior
6090,6091,Marcielle Sabrina Thorrurnã,Fem,9.0,branco,NaN,Minas Gerais,2.0,Marketing,Gerente
6280,6281,Nicolau de Lemos Zageshia Dieman,Masc,5.0,branco,NaN,Paraíba,4.0,Recursos Humanos,Analista Pleno
6373,6374,Adílson Henrique Wolernmian Júnior,Masc,16.0,branco,NaN,Alagoas,3.0,Compras,Analista Sênior
6380,6381,Isaiane de Junqueira,Fem,16.0,branco,NaN,Acre,5.0,Desenvolvimento de Produtos,Analista Júnior
6594,6595,Solange de Peixoto,Fem,9.0,branco,NaN,Pernambuco,6.0,Vendas,Analista Júnior
6599,6600,Samara de Pereira,Fem,15.0,indígena,Ensino Superior,Ceará,5.0,Recursos Humanos,Estagiário
6631,6632,Sandro de Cerqueira Barroso,Masc,10.0,branco,NaN,Minas Gerais,6.0,Desenvolvimento de Produtos,Analista Pleno
6684,6685,Cristiano da Silva de Queiroz Werner,Masc,15.0,preto,Ensino Superior,Mato Grosso do Sul,9.0,Recursos Humanos,Analista Júnior
7173,7174,Filipe de Soares dos Santos Neto,Masc,10.0,preto,Pós graduação,Rio de Janeiro,5.0,Desenvolvimento de Produtos,Analista Pleno
7235,7236,Sílvio Demilson Nefu Mofu,Masc,8.0,branco,NaN,São Paulo,2.0,Desenvolvimento de Produtos,Analista Sênior
7591,7592,Hugo Emanoel dos Santos,Masc,12.0,preto,Doutorado,Bahia,8.0,Contabilidade,Diretor
7759,7760,Aurélio Jackson Sudo de Barbosa Vakae,Masc,15.0,branco,NaN,Goiás,3.0,Marketing,Analista Júnior
7838,7839,Eleonora Zilda Memohoya Ofre de Barbosa,Fem,10.0,branco,NaN,Pernambuco,5.0,Marketing,Analista Júnior
8183,8184,Silvair Ezequiel da Silva,Masc,10.0,branco,NaN,Rio de Janeiro,3.0,Vendas,Analista Sênior
8281,8282,José Alex de Morais,Masc,15.0,branco,NaN,Ceará,9.0,Recursos Humanos,Estagiário
9020,9021,Roger Gilson Supo,Masc,12.0,branco,NaN,Paraíba,2.0,Administrativo,Gerente
9183,9184,Marcos José da Silva dos Santos,Masc,16.0,branco,NaN,Distrito Federal,10.0,Desenvolvimento de Produtos,Estagiário
9515,9516,Suzy Leila Pimenta Portugal,Fem,13.0,branco,NaN,Minas Gerais,4.0,Operações,Analista Júnior
9917,9918,Mateus Cleis Imos de Castro,Masc,12.0,indígena,Ensino Superior,Rio Grande do Norte,9.0,TI,Analista Júnior

In [ ]:
df['idadextempodecasa'] = df['Idade'] - df['tempo_de_casa']   #Verificando dados coesos entre idade e tempo de casa

In [ ]:
display(df)

,id,Nome,Genero,Idade,raca,formacao,Estado,tempo_de_casa,Departamento,senioridade,idadextempodecasa
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34.0,pardo,Ensino Médio,Santa Catarina,12.0,Compras,Analista Pleno,22.0
1,2,Elisângela Gabrielle de Osório,Fem,26.0,pardo,Ensino Médio,Pará,6.0,Contabilidade,Analista Júnior,20.0
2,3,José Túlio de Cabral,Masc,35.0,pardo,Ensino Médio,Santa Catarina,5.0,Vendas,Analista Pleno,30.0
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24.0,pardo,Ensino Superior,Tocantins,4.0,Administrativo,Gerente,20.0
4,5,Fagner Josiel dos Santos,Masc,21.0,pardo,Ensino Superior,Ceará,5.0,Recursos Humanos,Analista Júnior,16.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Omar Camilo da Paz,Masc,21.0,pardo,Ensino Superior,Rondônia,9.0,Contabilidade,Analista Júnior,12.0
9996,9997,Edu de Muniz Jinuyul Neto,Masc,44.0,pardo,Ensino Médio,Paraíba,10.0,Contabilidade,Analista Júnior,34.0
9997,9998,Benedito Robert Dlievic,Masc,21.0,branco,Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente,15.0
9998,9999,Bento Osvaldo do Piauí,Masc,39.0,pardo,Ensino Superior,Paraná,5.0,Vendas,Analista Júnior,34.0
9999,10000,Augusto José do Rio de Tavares,Masc,35.0,branco,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno,33.0

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,10000.0,5000.500000,2886.895680,1.0,2500.75,5000.5,7500.25,10000.0
Idade,9944.0,30.827836,8.738915,5.0,24.00,30.0,37.00,74.0
tempo_de_casa,9800.0,5.522347,2.904000,0.0,3.00,5.0,8.00,17.0
idadextempodecasa,9744.0,25.291461,9.154216,-3.0,18.00,25.0,31.00,69.0

In [ ]:
df_tempo_de_casa = df[df['idadextempodecasa'] < 0]

In [ ]:
display(df_tempo_de_casa) #encontrei uma pessoa menor de idade, mesmo na legislação vigente, com tempo de casa maior que de vida

,id,Nome,Genero,Idade,raca,formacao,Estado,tempo_de_casa,Departamento,senioridade,idadextempodecasa
3886,3887,Lidiane Sâmia de Carvalho,Fem,6.0,preto,Ensino Superior,Alagoas,9.0,Recursos Humanos,Analista Júnior,-3.0

In [ ]:
df.dtypes #analise do tipo de dados

id                     int64
Nome                  object
Genero                object
Idade                float64
raca                  object
formacao              object
Estado                object
tempo_de_casa        float64
Departamento          object
senioridade           object
idadextempodecasa    float64
dtype: object

In [ ]:
df.isnull().sum() #Analise de negativos

id                     0
Nome                   0
Genero                 0
Idade                 56
raca                   0
formacao              44
Estado                 0
tempo_de_casa        200
Departamento           0
senioridade            0
idadextempodecasa    256
dtype: int64